/*---------------------------------------------------
    IMPORTS
----------------------------------------------------*/

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/button';
 
/*---------------------------------------------------
    GLOBAL 
----------------------------------------------------*/

/* 
------------------------------------*/


/*---------------------------------------------------
    HEADER  
----------------------------------------------------*/

.header-hero-image {
    height: 60vh;
    width: 100%;
    background: url(../IMG/food/frokost-big.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.header-brand-section {
    position: absolute;
    top: 2%;
    left: 2%;
}

/* 
------------------------------------*/


/*---------------------------------------------------
    TOP-BANNER
----------------------------------------------------*/

/* 
------------------------------------*/


/*---------------------------------------------------
    MAIN MENU   
----------------------------------------------------*/

/* 
------------------------------------*/


/*---------------------------------------------------
    SOME MENU
----------------------------------------------------*/

/* 
------------------------------------*/


/*---------------------------------------------------
    FOOTER
----------------------------------------------------*/


/* 
------------------------------------*/




